{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Test</a>
          </li>
          <li class="breadcrumb-item active"> We Search For The Perfect Home</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">  
          <h2>Welcome to Django real estate app</h2>        
          <p class="lead">
          <img src="{% static 'images/about.jpg' %}" alt="">
          <p class="mt-4">Welcome to a place where luxury reigns supreme - L-axis! Pune's most premium destination with a brand new dimension of luxury, sculpted to the finest degree. Here's your chance to call it your home.</p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/jack.jpg' %}" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Seller Of The Month</h5>
              <h6 class="text-secondary">Ajay Kumar</h6>
              <p class="card-text"> Some text about Ajay.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Django + bootstrap+ html + css</h4>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="{% static 'img/realtors/mark.jpg' %}" alt="" class="rounded-circle mb-3">
          <h4>Ajay Kumar</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> 91-000000000</p>
          <p>
            <i class="fas fa-envelope-open"></i> ajay@xyz.com</p>
        </div>

        <div class="col-md-4">
          <img src="{% static 'img/realtors/jenny.jpg' %}" alt="" class="rounded-circle mb-3">
          <h4>Jenny</h4>
          <p class="text-success">Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> 91-000000001</p>
          <p>
            <i class="fas fa-envelope-open"></i> Steve@xyz.com</p>
        </div>

        <div class="col-md-4">
          <img src="{% static 'img/realtors/kyle.jpg' %}" alt="" class="rounded-circle mb-3">
          <h4>Mark Johnson</h4>
          <p class="text-success">Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> 91-000000003</p>
          <p>
            <i class="fas fa-envelope-open"></i> Mark@xyz.com</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
